
.form-category-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.form-section-wrapper{
  display: grid;
  justify-items: center;
  gap:1rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.form-category-wrapper>label>textarea{
  width: 40rem;
  height:8rem;
}

.form-category-wrapper>label>input{
  width: 40rem;
  margin-bottom:1rem;
  height: 1.2rem;
}

.grid{
  display: grid;
  width: 40rem;
  margin-bottom: 1rem;
}

.three-columns{
  grid-template-columns: 30% 30% 30%;
}

.grade-columns{
  grid-template-columns: 45% 45% 10%;
}



