
.form-category-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.form-section-wrapper{
  display: flex;
  gap:1rem;
  margin-bottom: 2rem;
  flex-wrap:wrap;
}

.form-section-wrapper>label>textarea{
  width: 40em;
  height:8rem;
}




