.form-general-info{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

.form-section-wrapper{
  display: flex;
  gap:1rem;
  margin-bottom: 2rem;
}

.form-section-wrapper>label>textarea{
  width: 40rem;
  height:12rem;
}




